@{
    ViewBag.Title = "Inicio";
}

<section>
    <div style="margin-top:20px">
        <h1 class="h2">Dashboard</h1>
    </div>
</section>

<canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

   